doctype
html(ng-app="appMain" ng-controller="PageController")
    head
        title {{title}}
        link(rel="stylesheet" href="/content/css/bootstrap.min.css")
        link(rel="stylesheet" href="/content/css/app.css")
    body
        include includes/header
        include includes/main
        include includes/footer
        include includes/scripts