hr
#footer
.container
    .row
        .col-md-12
            p.text-muted.text-center
                | Made By 
                a(href="{{authorLink}}") {{author}}
                | | Powered By {{poweredBy}}