.navbar.navbar-default
    .container
        .navbar-header
            a.navbar-brand(href="#/") Road Trip Lovers
            ul.nav.navbar-nav
                li(ng-show="checkRole('admin')")
                    a(href="#/admin-panel") Admin Panel

        .collapse.navbar-collapse(data-collapse='!navbarExpanded')
            ul.nav.navbar-nav.navbar-right
                li(data-ng-show='userData.isAuth')
                    a(href='#/profile') Welcome {{userData.username}}
                li(data-ng-show='userData.isAuth')
                    a(href='', data-ng-click='logOut()') Logout
                li(data-ng-show='!userData.isAuth')
                    a(href='#/login') Login
                li(data-ng-show='!userData.isAuth')
                    a(href='#/signup') Sign Up