script(type="text/javascript" src="/libs/jquery.min.js")
script(type="text/javascript" src="/libs/jquery-ui.min.js")
script(type="text/javascript" src="/libs/bootstrap.min.js")
script(type="text/javascript" src="/libs/angularJs/angular.min.js")
script(type="text/javascript" src="/libs/angularJs/angular-resource.min.js")
script(type="text/javascript" src="/libs/angularJs/angular-route.min.js")
script(type="text/javascript" src="/libs/angular-local-storage.min.js")
script(type="text/javascript" src="/libs/httpQRequest.js")
script(type="text/javascript" src="http://cdn.pubnub.com/pubnub.min.js")

script(type="text/javascript" src="/appMain.js")
script(type="text/javascript" src="/directives/DatePickerDirective.js")

script(type="text/javascript" src="/services/common/CountriesResource.js")
script(type="text/javascript" src="/services/common/TownsResource.js")
script(type="text/javascript" src="/services/common/PagesResource.js")
script(type="text/javascript" src="/services/common/LiveChatResource.js")
script(type="text/javascript" src="/services/common/MessagesResource.js")
script(type="text/javascript" src="/services/common/CommentsResource.js")

script(type="text/javascript" src="/services/account/AccountService.js")

script(type="text/javascript" src="/services/TripsResource.js")

script(type="text/javascript" src="/controllers/common/PageController.js")
script(type="text/javascript" src="/controllers/common/PageDetailsController.js")

script(type="text/javascript" src="/controllers/account/LoginController.js")
script(type="text/javascript" src="/controllers/account/SignUpController.js")
script(type="text/javascript" src="/controllers/account/ManageProfileController.js")
script(type="text/javascript" src="/controllers/account/UserDetailsController.js")

script(type="text/javascript" src="/controllers/admin/AdminPanelController.js")
script(type="text/javascript" src="/controllers/admin/ManageCountryController.js")
script(type="text/javascript" src="/controllers/admin/ManageTownController.js")
script(type="text/javascript" src="/controllers/admin/ManagePageController.js")

script(type="text/javascript" src="/controllers/HomeController.js")
script(type="text/javascript" src="/controllers/SearchUsersController.js")
script(type="text/javascript" src="/controllers/ManageTripController.js")

script(type="text/javascript" src="/filters/transformGender.js")
script(type="text/javascript" src="/filters/transformDate.js")
