.row
    .col-md-3
    .col-lg-6
        .well.bs-component
            form.form-horizontal.form-Login(role='form')
                legend Login
                .form-group
                    label.col-lg-3.control-label Username
                    .col-lg-9
                        input.form-control(type='text', placeholder='Username', data-ng-model='user.username', required='required', autofocus='autofocus')
                .form-group
                    label.col-lg-3.control-label Password
                    .col-lg-9
                        input.form-control(type='password', placeholder='Password', data-ng-model='user.password', required='required')
                button.btn.btn-primary.btn-info.btn-block(type='submit', data-ng-click='login()') Login
            a.btn.btn-default.btn-sm.btn-block(href='#/signup') Register
            hr
            .alert.alert-danger(data-ng-hide='message == ""')
                | {{message}}
        .col-md-3