.row#user-details-page
	.col-md-12
		h1 {{currentUser.username}}
		h3.text-muted(ng-show="currentUser.isTruckDriver") Driver
	hr
	.col-md-2
		ul.nav.nav-pills.nav-stacked
			li(ng-class="{true: 'text-center active', false: 'text-center'}[detailsPage === 'profile']")
				a(href="" ng-click="detailsPage='profile'") Profile
			li(ng-class="{true: 'text-center active', false: 'text-center'}[detailsPage === 'photos']")
				a(href="" ng-click="detailsPage='photos'") Photos
			li.text-center
				a(href="" ng-if="!isMyProfile" data-toggle="modal" data-target="#send-message-modal") Send Message
				a(href="" ng-if="isMyProfile" ng-click="unreadCount = 0" data-toggle="modal" data-target="#view-messages-modal") Messages({{unreadCount}})
			li.text-center
				a(href="#/profile" ng-if="isMyProfile") Edit
	#details-page-content(ng-switch="detailsPage")
		#profile(ng-switch-when="profile")
			include personal-info
			include comments
		#photos(ng-switch-when="photos")
			include user-photos
	#send-message-container(ng-if="!isMyProfile")
		include send-message
	#view-messages-container(ng-if="isMyProfile")
		include view-messages
hr