.modal.fade#view-messages-modal(role="dialog" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				span Messages
				button.close(data-dismiss="modal") x					
			.modal-body
				messages here...
			.modal-footer
				button.btn.btn-default(data-dismiss="modal") Close