#send-message-input {
  margin-top: 1px;
}
#messages-box,
#comments,
#view-user-messages {
  max-height: 350px;
  overflow: auto;
}
.modal-title {
  border: 0px solid #000;
  border-bottom: 1px solid #ffa500;
  width: 100%;
  font-size: 20px;
}
.modal-title:focus {
  outline: 0;
}
