#send-message-input
  margin-top 1px
#messages-box, #comments
  max-height 350px
  overflow auto
.modal-title
  border 0px solid black
  border-bottom 1px solid orange
  width 100%
  font-size 20px
.modal-title:focus
  outline 0
