.row
    .col-md-3
    .col-lg-6
        .well.bs-component
            form.form-horizontal.form-Login
                legend {{buttonText}}
                .form-group
                    label.col-lg-3.control-label Name
                    .col-lg-9
                        input.form-control(type='text', placeholder='Name', data-ng-model='townData.name', required='required', autofocus='autofocus')
                .form-group
                    label.col-lg-3.control-label Name
                    .col-lg-9
                        select.form-control(ng-model="townData.country")
                            option(ng-repeat="country in countries" value="{{country._id}}" ng-selected="country._id === townData.country._id") {{country.name}}
                button.btn.btn-primary.btn-block(type='submit', data-ng-click='manageItem()') {{buttonText}}
            a.btn.btn-default.btn-sm.btn-block(href='#/admin-panel') Cancel
    .col-md-3