.row(data-ng-show='userData.isAuth')
    .col-md-2
        | Search:&nbsp;
        input(type="text" ng-model="userSearch")
.row
    .col-md-6
        h1 Top Users
        hr
        .bs-component
            ul.list-group
                li.list-group-item(ng-repeat="user in users | filter: {isTruckDriver:false}| filter:userSearch | orderBy:'username' | limitTo: 10")
                    img(class="hero" src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/11/27/1354030427030/Im-online-note-on-a-keybo-010.jpg")
                    a(href="#/user-details/{{user._id}}") {{user.username}}
                    p= 'Town: Sofia'
                    p {{user.sex}}
    .col-md-6
        h1 Top Drivers
        hr
        .bs-component
            ul.list-group
                li.list-group-item(ng-repeat="user in users | filter: {isTruckDriver:true}| orderBy:'username' | limitTo: 10")
                    a(href="#/user-details/{{user._id}}") {{user.username}}