.row
    .col-md-4
        h1 Top Users
            a(class="get-more" href="#/search-users") Search...
        hr
        .bs-component
            ul.list-group
                li.list-group-item(ng-repeat="user in users | filter: {isTruckDriver:false}| filter:userSearch | orderBy:'username' | limitTo: 10" class="user-info")
                    img(class="home-page-portret" src="{{user.profilePhoto ? user.profilePhoto : 'http://images.fineartamerica.com/images-medium-large/sexy-truck-driver-jim-boardman.jpg'}}")
                    div
                        a(href="#/user-details/{{user._id}}") {{user.username}}
                            img(src="{{user.sex | transformGender}}")
                        p(ng-show="user.town") 'Town: '
                            span {{user.town.name}}

    .col-md-4
        h1 Top Drivers
            a(class="get-more" href="#/search-drivers") Search...
        hr
        .bs-component
            ul.list-group
                li.list-group-item(ng-repeat="user in users | filter: {isTruckDriver:true}| orderBy:'username' | limitTo: 10" class="user-info")
                    img(class="home-page-portret" src="{{user.profilePhoto ? user.profilePhoto : 'http://www.xor.org.uk/travel/panam2006/graphicsf/img_8783.jpg'}}")
                    div
                        a(href="#/user-details/{{user._id}}") {{user.username}}
                            img(src="{{user.sex | transformGender}}")
                        p= 'Town: '
                            span {{user.town.name}}
    include live-chat