.modal.fade#sendMessageModal(role="dialog" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(data-dismiss="modal") x
                input.modal-title(type="text" ng-model="messages.title" placeholder="Message Title...")
            .modal-body
                textarea.form-control.container-fluid(rows="4" ng-model="messages.body")
            .modal-footer
                button.btn.btn-default(data-dismiss="modal") Close
                button.btn.btn-primary(ng-click="messages.sendMessage()") Send