.row#user-details-page
    .col-md-12
        h1 {{currentUser.username}}
        h3.text-muted(ng-show="currentUser.isTruckDriver") Driver
        hr
        #messages
            .row(ng-if="isMyProfile") messages list here
            .row(ng-if="!isMyProfile")
                .col-md-2
                    ul.nav.nav-pills.nav-stacked
                        li.active.text-center
                            a(href="") Profile
                        li.text-center
                            a(href="") Photos
                        li.text-center
                            a(href="" data-toggle="modal" data-target="#sendMessageModal") Send Message
                include user-info
                .col-md-5
                    .list-group
                        h3.list-group-item.active.text-center Comments
                        #comments
                            .list-group-item(ng-repeat="comment in comments")
                                strong.list-group-item-heading {{comment.sender}}
                                span  on
                                span.text-muted  {{comment.date | date: short}}
                                .list-group-item-text.alert.alert-warning {{comment.body}}
                        .list-group-item
                            textarea.container-fluid.form-control(ng-model="comment.body")
                        .list-group-item
                            button.btn.btn-block.btn-info(type="button" ng-click="postComment(comment)") Post
            include message-modal
hr